<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Auth</title>
</head>
<body>
    <h1>Login</h1>
    <form action="http://localhost:5000/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="http://localhost:5000/user-register">Register</a></p>    
</body>
</html>